@import "../../variables.scss";

.section {
  display: flex;
  flex-direction: column;
  gap: calc(#{$base-size} * 4);
  /* height: calc(912px - 88px - 100px - 56px); */
}

.constructorElement {
  flex-grow: 0;
}

.scrollableSection {
  overflow-y: auto;
}

.constructorItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.orderWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  margin-left: calc(#{$base-size} * 4);
}
