@import '../../variables.scss';

.section {
    display: flex;
    flex-direction: column;
    gap: calc(#{$offset-base-size} * 4);
    height: calc(912px - 88px - calc(#{$offset-base-size} * 10));
    margin-top: calc(#{$offset-base-size} * 10);
    padding: calc(#{$offset-base-size} * 2);
}

.scrollableSection {
    overflow-y: auto;
}

.OrderCard {
    display: flex;
    flex-direction: column;
    // gap: calc(#{$offset-base-size} * 2);
    border-radius: calc(#{$offset-base-size} * 10);
    background-color: $color-modal-bg;
    cursor: pointer;
}

.iconsWrapper {
    flex-direction: row-reverse;

    & > * {
        margin-right: calc(#{$offset-base-size} * -4);
    }

    & > *:last-child {
        margin-right: 0;
        order: -1;
        margin-left: auto;
    }
}

.border {
    background: linear-gradient(90deg, #801AB2 0%, #4C4CFF 100%);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    position: relative;
    // padding: 2px;
}

.picture {
    & img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        margin: 2px;
        background-color: $color-modal-bg;
        font-size: 0;
    }
}

.overflowWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceWrapper {
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}