.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: calc(var(--offset-base-size) * 10);
  height: 912px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.section {
  background-color: #fff;
}
