@import "../../variables.scss";

.header {
    background-color: $color-modal-bg;
}

.nav,
.menuList,
.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(#{$offset-base-size} * 2);
    color: $text-dark-grey;
}

.active {
    color: $text-primary-light;
}

.menuList {
    width: 100%;
}

.menuItem {
    cursor: pointer;
}

.nav {
    position: relative;
}

.nav>a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile {
    margin-left: auto;
}