@import "./variables.scss";

/* reset */
* {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/*  main */
html {
    height: 100%;
    font-family: "Jet Brains Mono";
    background-color: $color-bg;
    color: $text-primary-light;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* modal */
.modal-open {
    overflow: hidden;
}

#modal-root {
    position: flex;
    z-index: 1000;
}

/* common */
.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
}

.section {
    overflow-y: hidden;
}


#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.center-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    color: $text-link;
    cursor: pointer;
}

.error {
    color: red !important;
}