/* colors */
$offset-base-size: 4px;
$color-bg: rgb(19, 19, 22);
$color-modal-bg: #1c1c21;
$text-primary-light: #f2f2f3;
$text-dark-grey: #8585ad;
$text-disabled: #3a3a55;

/* sizes */
$offset-base-size: 4px;

/* padding */
@for $i from 1 through 10 {
    .px-#{$i} {
        padding-left: calc(#{$offset-base-size} * #{$i});
        padding-right: calc(#{$offset-base-size} * #{$i});
    }
}

@each $i in 15 20 25 30 {
    .px-#{$i} {
        padding-left: calc(#{$offset-base-size} * #{$i});
        padding-right: calc(#{$offset-base-size} * #{$i});
    }
}

@for $i from 1 through 10 {
    .py-#{$i} {
        padding-top: calc(#{$offset-base-size} * #{$i});
        padding-bottom: calc(#{$offset-base-size} * #{$i});
    }
}

@each $i in 15 20 25 30 {
    .py-#{$i} {
        padding-top: calc(#{$offset-base-size} * #{$i});
        padding-bottom: calc(#{$offset-base-size} * #{$i});
    }
}

/* margin */
@for $i from 1 through 10 {
    .mx-#{$i} {
        margin-left: calc(#{$offset-base-size} * #{$i});
        margin-right: calc(#{$offset-base-size} * #{$i});
    }
}

@each $i in 15 20 25 30 {
    mpx-#{$i} {
        margin-left: calc(#{$offset-base-size} * #{$i});
        margin-right: calc(#{$offset-base-size} * #{$i});
    }
}

@for $i from 1 through 10 {
    .my-#{$i} {
        margin-top: calc(#{$offset-base-size} * #{$i});
        margin-bottom: calc(#{$offset-base-size} * #{$i});
    }
}

@each $i in 15 20 25 30 {
    .my-#{$i} {
        margin-top: calc(#{$offset-base-size} * #{$i});
        margin-bottom: calc(#{$offset-base-size} * #{$i});
    }
}
